/studio/
/rccservice/
/client/
/keys/

Rboxlo.code-workspace

website/static/configuration.php
website/static/key.pem
website/static/assets/

website/renders/**
!website/renders/0.png

custom.conf

# Docker
data/
docker-compose.yml
docker-compose-local.yml