RboxloStudio/
RboxloRCC/
RboxloClient/
website/assets

Rboxlo.code-workspace

website/backend/configuration.php
website/html/admin/adminer.php
website/backend/key.pem

# Docker
data/
docker-compose-local.yml