/studio/
/rccservice/
/client/
/keys/

Rboxlo.code-workspace

website/backend/configuration.php
website/html/admin/adminer.php
website/static/key.pem
website/static/assets/

custom.conf

# Docker
data/
docker-compose.yml
docker-compose-local.yml