{{#> layout}}
    {{#content "body"}}
        <h1 class="mb-3">New Application</h1>
        {{#if response}}<div class="alert alert-danger mb-3">{{ xss response }}</div>{{/if}}

        <div class="card">
            <div class="card-header">Details</div>
            <div class="card-body">
                <form method="post" action="{{ url "/games/application/new" }}">
                    <div class="form-group mb-3">
                        <label for="internal_name" class="form-label">Internal name</label>
                        <input name="internal_name" id="internal_name" class="form-control" type="text">
                        <small class="form-text text-muted">Only alphanumeric characters are allowed for the internal name</small>
                    </div>

                    <div class="form-group mb-3">
                        <label for="display_name" class="form-label">Display name</label>
                        <input name="display_name" id="display_name" class="form-control" type="text">
                        <small class="form-text text-muted">The display name should be something short and easily recognizable</small>
                    </div>

                    <input type="hidden" name="_csrf" value="{{ session.csrf }}">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    {{/content}}
{{/layout}}