div { color: #666 }
			
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    background-color: #FCFCFC;
}

h2 {
    font-size: 16px;
    color: #000;
    text-transform: uppercase;
    margin-left: 22px;
}

.field, .field label {
    margin-bottom: 5px;
}

.field label {
    display: block;
    margin-left: 22px;
}

.icon {
    width: 16px;
    height: 16px;
    margin-right: 2px;
}

.field input { 
    border: 1px solid #999;
    padding: 3px;
    width: 190px;
}

.submit {
    text-align: right;
    margin-top: 12px;
}

.submit input {
    border: 1px solid #999;
    padding: 3px 6px;
    border-radius: 3px;
    margin: 0;
}

.sign-in {
    margin: 0 auto;
    margin-top: 50px;
    width: 220px;
}

.logo {
    text-align: center;
    margin-top: 150px;
}
.logo img { max-width: 400px }

.error-message {
    color: #ff0000;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}

.checkbox { margin-left: 16px }
.checkbox label { margin-left: 2px }