{{#> layout}}
    {{#content "body"}}
        <h1>Welcome to Tootsie!</h1>

        <p>
            This is Tootsie, the website included with Rboxlo to help you manage your instance of Rboxlo and use it to its full capacity.
        </p>
        <p>
            Remember, Tootsie gives you <b>full access</b> to this instance of Rboxlo. Meaning that whoever you share the Tootsie password to, Rboxlo automatically assumes that they are <b>you</b>; the owner of this site, and therefore will grant <b>full privileges</b> to them. Tootsie is specifically meant for the owner and should not be given out to anyone else besides those you trust the most.
        </p>
        <p>
            With that out of the way, have fun customizing Rboxlo!
        </p>
    {{/content}}
{{/layout}}