{{#> layout}}
    {{#content "body"}}
        <h1>Welcome to Tootsie!</h1>
        <br>
        <p>
            This is a small dashboard that will help you manage your instance of Rboxlo that you have now called {{ rboxlo.name }}. That might just still be called "Rboxlo" too. Everything should be pretty self explanatory. But remember, you have full control here.
        </p>
        <br>
        <p>
            Proceed with caution!
        </p>
    {{/content}}
{{/layout}}