{{#> layout}}
    {{#content "body"}}
        <div class="d-flex justify-content-between mt-3">
            <h2>Games</h2>
            <div class="d-flex align-items-center">
                <button class="btn btn-primary btn-primary-rboxlo disabled me-2" disabled="disabled">
                    <i class="fas fa-plus"></i> New Server
                </button>

                {{#if session.permissions.places.creation}}
                    <a href="{{ rboxlo.domain }}/games/places/new">
                        <button class="btn btn-primary btn-primary-rboxlo">
                            <i class="fas fa-plus"></i> New Place
                        </button>
                    </a>
                {{else}}
                    <button class="btn btn-primary btn-primary-rboxlo disabled" disabled="disabled">
                        <i class="fas fa-plus"></i> New Place
                    </button>
                {{/if}}
            </div>
        </div>
        <br>
    {{/content}}
{{/layout}}