.navbar {
	background-color: #158cba;
	border-radius: 0px;
}
.navbar a {
	vertical-align: middle;
}
.cube-icon {
	padding-right: 0 !important;
}
.nb-ul {
	list-style-type: none;
}
garlicoin {
	display: block;
	background: url(/core/html/img/garlicoin.svg);
}
.cube-text {
	padding-left: 5px !important;
}
.navbar .nav-item .nav-link {
	display: inline-flex;
}
.error-icon {
	font-size: 1.5rem;
	margin-top: 1rem;
	color: #FF3547 !important;
}

.error-text {
	margin-left: 47.5px !important;
	color: #FF3547 !important;
	font-size: 0.9rem;
}

.error-form {
	margin-bottom: 0.2rem !important;
	border-bottom: 1px solid #FF3547 !important;
}

.error-label {
	color: #FF3547 !important;
}
.navbar .nav-item .nav-link span {
	margin-left: 5px;
}
body {
	background: url(/core/html/img/background.jpg) no-repeat center center fixed;
}
.container {
		padding: 45px 45px 45px 45px;
		z-index: 550;
}
.user-text {
	display: inline-block !important; 
	line-height: 1 !important;
}
.navbar .dropdown-menu a:hover {
	color: #212529;
}
.list-group a {
	color: #000000;
}
.font-small {
  font-size: 0.8rem; 
}
footer.page-footer a {
	color: #41bbf4;
	font-weight: bold;
}
.pt-5 {
	padding-top: 0rem!important;
}
.mt-3 {
	margin-top: 0rem!important;
}
.pt-5 py-5 {
	padding-top: 0rem!important;
}
.mt-3 my-3 {
	margin-top: 0rem!important;
}
.registration-error {
	background-color: #ff3849;
	width: 28rem; 
	border-radius: 3px;
}
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events:all;
}

.alert {
	color: white; 
	height: 35px; 
	padding-top: 5px; 
	margin: 0px;
	border-radius: 0px;
}